.overlay-wrapper {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-backdrop {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(4px);
	background: rgba(0, 0, 0, 0.1);
	pointer-events: all;
	z-index: 1000;
}

.overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	backdrop-filter: blur(2px);
	z-index: 100;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 2rem;
	padding: 1rem;
	background-color: var(--bg-color-white);
	box-shadow: 0 0 8px #00000049;
	border-radius: 20px;

	& button {
		align-self: end;
		display: flex;
		justify-content: center;
		align-items: cener;
		height: 40px;
		aspect-ratio: 1;
		border: none;
		background: none;
		cursor: pointer;
	}
}
