:host {
	height: 100%;
}

.flex {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

div {
	font-size: inherit;
}

span {
	font-size: inherit;
}

button {
	font: inherit;
	color: inherit;
	background: initial;
	border: initial;
	outline: initial;
	transition: scale 125ms;
	width: 100%;
}

button:not(.toggle-btn):active {
	scale: 0.9;
}

.toggle-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1rem;
	width: 1rem;
	top: 200px;
	left: 50%;
	background-color: blue;

	> img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.title {
	font-size: var(--fs-small);
}

.options-container {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	row-gap: 0.75rem;
}

.option {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	cursor: pointer;
}

.primary .option:hover {
	filter: brightness(75%);
}

.secondary .option:hover {
	filter: brightness(200%);
}

.option-text {
	text-wrap: nowrap;
}
