# Build-Ordner
/dist
/tmp
/out-tsc
/bazel-out

# Node.js-Module

/node_modules
npm-debug.log
yarn-error.log 

# IDEs und Editoren

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace 

# Visual Studio Code

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*  

# Sonstiges

/.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
/typings

# Systemdateien

.DS_Store
Thumbs.db
*.md