:host {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.container {
	display: flex;
	width: 100%;
	height: 8px;
	column-gap: 2rem;
	align-items: center;
	justify-content: space-between;
}

.text {
	text-wrap: nowrap;
	font-size: var(--fs-extraSmall);
}
