@use "../../../styles/mixins";

section {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;

	@include mixins.desktop {
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 100%;

		> * {
			overflow: hidden;
		}
	}
}
