@use "../../../styles/mixins";

:host {
	align-self: start;
	width: 100%;
}

section {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	border-top: 1px solid #f4f4f4;

	@include mixins.desktop {
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 100%;

		> * {
			overflow: hidden;
		}
	}
}

.overlay-wrapper {
	position: fixed;
	inset: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-backdrop {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(4px);
	background: rgba(0, 0, 0, 0.1);
	pointer-events: all;
	z-index: 1000;
}
