:host {
	display: contents;
}

.list {
	height: 100%;

	&.big {
		font-size: 47px;
	}

	&.medium {
		font-size: var(--fs-h3);
	}

	&.small {
		font-size: 12px;
	}
}

.container {
	height: 100%;
	display: inline-block;
	font-size: inherit;
}

.container:not(:first-of-type) {
	margin-left: -0.75em;
}

.overflow-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	aspect-ratio: 1;
	background-color: var(--bg-color-blue-darker);
	border: 2px solid white;
	border-radius: 50%;
	font-size: inherit;

	&.small {
		border-width: 1px;
	}

	> span {
		color: white;
		font-size: inherit;
	}
}
