<div class="board-container">
	<header class="board-header">
		<div class="mobile-btn-cnt">
			<h1 class="board-title">Board</h1>
			<app-svg-button class="board-add-button" (onClick)="openAddTaskOverlay('todo')">
			</app-svg-button>
		</div>
		<div class="header-controls">
			<app-search-field (searchText)="onSearch($event)"></app-search-field>

			<button class="desktop-btn" type="button" (click)="openAddTaskOverlay('todo')">
				Add task
				<img src="images/board_section/add_icon.svg" />
			</button>
		</div>
	</header>

	<main class="board-columns">
		<!-- TO DO COLUMN -->
		<div
			class="column-status"
			cdkDropList
			id="todo"
			#todoList="cdkDropList"
			[cdkDropListConnectedTo]="dropListIds"
			[cdkDropListData]="todoTasks()"
			(cdkDropListDropped)="drop($event)"
		>
			<div class="mobile-btn-cnt">
				<h2 class="column-title">To Do</h2>
				<app-svg-button class="task-add-button" (onClick)="openAddTaskOverlay('todo')">
				</app-svg-button>
				<app-svg-button class="task-add-button-desktop" (onClick)="openAddTaskOverlay('todo')">
				</app-svg-button>
				<div class="btn-overlay"></div>
			</div>
			<div class="column-body">
				@for (task of todoTasks(); track task.id) {
					<app-board-card
						prev="todo"
						next="in-progress"
						(popoverClicked)="onPopoverMobileClicked(task.id, $event)"
						cdkDrag
						[cdkDragData]="task"
						[task]="task"
						(cardClicked)="openTaskDetail($event)"
					></app-board-card>
				}
			</div>
		</div>

		<!-- IN PROGRESS COLUMN -->
		<div
			class="column-status"
			cdkDropList
			id="in-progress"
			#progressList="cdkDropList"
			[cdkDropListConnectedTo]="dropListIds"
			[cdkDropListData]="inProgressTasks()"
			(cdkDropListDropped)="drop($event)"
		>
			<div class="mobile-btn-cnt">
				<h2 class="column-title">In Progress</h2>
				<app-svg-button class="task-add-button" (onClick)="openAddTaskOverlay('in-progress')">
				</app-svg-button>
				<app-svg-button
					class="task-add-button-desktop"
					(onClick)="openAddTaskOverlay('in-progress')"
				>
				</app-svg-button>
				<div class="btn-overlay"></div>
			</div>
			<div class="column-body">
				@for (task of inProgressTasks(); track task.id) {
					<app-board-card
						prev="todo"
						next="awaiting-feedback"
						(popoverClicked)="onPopoverMobileClicked(task.id, $event)"
						cdkDrag
						[cdkDragData]="task"
						[task]="task"
						(cardClicked)="openTaskDetail($event)"
					></app-board-card>
				}
			</div>
		</div>

		<!-- AWAITING FEEDBACK COLUMN -->
		<div
			class="column-status"
			cdkDropList
			id="awaiting-feedback"
			#feedbackList="cdkDropList"
			[cdkDropListConnectedTo]="dropListIds"
			[cdkDropListData]="feedbackTasks()"
			(cdkDropListDropped)="drop($event)"
		>
			<div class="mobile-btn-cnt">
				<h2 class="column-title">Awaiting Feedback</h2>
				<app-svg-button class="task-add-button" (onClick)="openAddTaskOverlay('awaiting-feedback')">
				</app-svg-button>
				<app-svg-button
					class="task-add-button-desktop"
					(onClick)="openAddTaskOverlay('awaiting-feedback')"
				>
				</app-svg-button>
				<div class="btn-overlay"></div>
			</div>
			<div class="column-body">
				@for (task of feedbackTasks(); track task.id) {
					<app-board-card
						prev="in-progress"
						next="done"
						(popoverClicked)="onPopoverMobileClicked(task.id, $event)"
						cdkDrag
						[cdkDragData]="task"
						[task]="task"
						(cardClicked)="openTaskDetail($event)"
					></app-board-card>
				}
			</div>
		</div>

		<!-- DONE COLUMN -->
		<div
			class="column-status"
			cdkDropList
			#doneList="cdkDropList"
			id="done"
			[cdkDropListConnectedTo]="dropListIds"
			[cdkDropListData]="doneTasks()"
			(cdkDropListDropped)="drop($event)"
		>
			<h2 class="column-title">Done</h2>

			<div class="column-body">
				@for (task of doneTasks(); track task.id) {
					<app-board-card
						prev="awaiting-feedback"
						next="done"
						(popoverClicked)="onPopoverMobileClicked(task.id, $event)"
						cdkDrag
						[cdkDragData]="task"
						[task]="task"
						(cardClicked)="openTaskDetail($event)"
					></app-board-card>
				}
			</div>
		</div>
	</main>

	<!-- Zeigt die TaskView nur an, wenn selectedTaskId einen Wert hat -->
	@if (selectedTaskId()) {
		<div class="overlay-wrapper">
			<div class="overlay-backdrop" (click)="closeTaskDetail()"></div>

			<app-task-view
				[taskId]="selectedTaskId()!"
				(closed)="closeTaskDetail()"
				(edit)="openEditTask()"
			/>

			@if (isEditTaskOpen()) {
				<app-edit-task
					[taskId]="selectedTaskId()!"
					[taskData]="selectedTaskData()!"
					(closed)="closeEditTask()"
				/>
			}
		</div>
	}
</div>
